.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    justify-content: center;
}

.grid-container button {
    padding: 20px;
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.grid-container button:hover {
    background-color: #4f7e80;
}

.grid-container button:last-child {
    grid-column: 2;
}
